<div class="flex flex-col items-center p-4">
    <label for="captcha" class="text-gray-700 font-medium mb-2"></label>
    <div  class="flex w-full max-w-sm justify-center ">
        <div class="prevent-select select-none	 w-full max-w-sm py-2 border-solid text-lg border-t-4 border-l-4 border-r-4 tracking-[.10em] border-secondary text-center"
            [ngStyle]="{ 'background-image': 'url(' + otro + ')', 'background-size': 'cover', 'background-position': 'center', 'background-repeat': 'no-repeat' }"
            [attr.aria-label]="captchaText">
            <p *ngFor="let char of styledText" [ngStyle]="char.style"
                class="!select-none text-green-100  font-bold text-2xl tracking-[.15em] 	 ">
                {{ char.char }}
            </p>
        </div>
        <button class="inline-flex items-center px-3 text-sm text-gray-900 bg-gray-200" (click)="establecerCaptcha()" [disabled]="!habilitarInput" [appCursor]="!habilitarInput" >
            <ng-icon name="tablerReload" size="20px"></ng-icon>
        </button>
    </div>
        <form [formGroup]="captchaForm" class="flex w-full max-w-sm justify-center">
            <div class="flex w-full max-w-sm justify-center">
                <input (input)="onInputChange($event)" id="captcha" type="text" placeholder="Ingrese el texto de la imagen"
            class="w-full max-w-sm border border-gray-300  p-2.5 text-gray-900 focus:ring-blue-500 focus:border-blue-500" 
              [disabled]="!habilitarInput" 
              [ngClass]="habilitarInput ? ' ' : 'bg-gray-200 select-none'"/>
                <button class=" inline-flex items-center px-3 text-sm text-gray-900 bg-gray-200 border border-e-0 border-gray-300"
                (click)="verificarCaptcha()"
                [ngClass]="!isCorrect ? 'bg-gray-200' : 'bg-green-600 text-white'"
                [disabled]="!habilitarInput" [appCursor]="!habilitarInput"
                 >
                    <ng-icon [name]="isCorrect ? 'tablerCheckbox' : 'tablerSquare'"  size="20px" class="me-2"></ng-icon>
                    {{textoVerificar}}
                </button>
              </div>
              
            </form>
            <p *ngIf="verError" class="text-red-500 text-sm mt-1">Captcha incorrecto. Intenta nuevamente.</p>
</div>