<div class="text-center w-full text-xl md:text-3xl mt-1 md:mt-5  font-noto font-bold"
  *ngIf="!mostrarFormularioEspecialista && !mostrarFormularioPaciente">
  <h1>Registro de nuevo </h1>
  <h1 class="italic text-white">Especialista o Paciente</h1>
</div>

<div class="md:mt-5 grid md:grid-cols-2 md:gap-1 ">
  <div class="flex items-center justify-center " *ngIf="!mostrarFormularioEspecialista && !mostrarFormularioPaciente">
    <img
      class="rounded-full h-64 w-64 md:min-w-max md:h-auto cursor-pointer hover:scale-105 border border-white transition-all hover:border-[#72b835] "
      (fadeComplete)="mostrarFormulario('especialista')" appRegistroFade src="/doctores_foto.png"
      alt="image description" />
  </div>
  <div class="flex items-center justify-center" *ngIf="!mostrarFormularioEspecialista && !mostrarFormularioPaciente">
    <img
      class="rounded-full h-64 w-64 md:min-w-max md:h-auto cursor-pointer hover:scale-105 border border-white transition-all hover:border-[#72b835] "
      (fadeComplete)="mostrarFormulario('paciente')" appRegistroFade src="/persona-enferma.png" alt="image description"
       />
  </div>
</div>




<div *ngIf="mostrarFormularioEspecialista && !loadEsp" class="mt-2 animate-fadeInFromBottom">
  <div class="max-w-4xl mx-auto bg-white shadow-md p-6">
    <form [formGroup]="especialistaForm">
      <h2 class="text-2xl text-center tracking-wide font-semibold mb-3 text-secondary font-noto ">Registro del Especialista</h2>

      <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
        <div>
          <label for="nombre" class="block text-sm font-medium">Nombre</label>
          <input type="text" formControlName="nombre" class="mt-1 p-2 block w-full border border-gray-300 focus:ring-2 focus:ring-primary bg-gray-50" placeholder="Nombre">
          <p *ngIf="especialistaForm.get('nombre')?.invalid && especialistaForm.get('nombre')?.touched"
            class="text-red-500 text-sm mt-1">Debe ingresar solo letras.</p>
        </div>

        <div>
          <label for="apellido" class="block text-sm font-medium">Apellido</label>
          <input type="text" formControlName="apellido" class="mt-1 p-2 block w-full border border-gray-300 focus:ring-2 focus:ring-primary bg-gray-50"
            placeholder="Apellido">
          <p *ngIf="especialistaForm.get('apellido')?.invalid && especialistaForm.get('apellido')?.touched"
            class="text-red-500 text-sm">Debe ingresar solo letras.</p>
        </div>

        <div>
          <label for="edad" class="block text-sm font-medium">Edad</label>
          <input type="number" formControlName="edad" class="mt-1 p-2 block w-full border border-gray-300 focus:ring-2 focus:ring-primary bg-gray-50" placeholder="Edad">
          <p *ngIf="especialistaForm.get('edad')?.invalid && especialistaForm.get('edad')?.touched"
            class="text-red-500 text-sm">La edad debe ser entre 1 a 99 años.</p>
        </div>

        <div>
          <label for="dni" class="block text-sm font-medium">DNI</label>
          <input type="text" formControlName="dni" class="mt-1 p-2 block w-full border border-gray-300 focus:ring-2 focus:ring-primary bg-gray-50" placeholder="12345678">
          <p *ngIf="especialistaForm.get('dni')?.invalid && especialistaForm.get('dni')?.touched" class="text-red-500 text-sm">
            Formato de DNI inválido.</p>
        </div>

        <div>
          <label for="email" class="block text-sm font-medium">Correo</label>
          <input type="email" formControlName="email" class="mt-1 p-2 block w-full border border-gray-300 focus:ring-2 focus:ring-primary bg-gray-50"
            placeholder="ejemplo@email.com">
          <p *ngIf="especialistaForm.get('email')?.invalid && especialistaForm.get('email')?.touched"
            class="text-red-500 text-sm">Formato de correo inválido.</p>
        </div>

        <div>
          <label for="imagen1" class="block text-sm font-medium">Imagen de Perfil</label>
          <input type="file" (change)="onFileSelected($event, 1)"  formControlName="imagen1" accept="image/*" class="mt-1 block text-sm w-full focus:ring-2 focus:ring-primary border border-gray-300  bg-gray-50 "
            required>
          <p *ngIf="especialistaForm.get('imagen1')?.invalid && especialistaForm.get('imagen1')?.touched"
            class="text-red-500 text-sm">La imagen es requerida.</p>
        </div>
        
        <div>
          <label for="password" class="block text-sm font-medium">Contraseña</label>
          <input type="password" formControlName="password" class="mt-1 p-2 block w-full border border-gray-300 focus:ring-2 focus:ring-primary bg-gray-50"
            placeholder="**********">
          <p *ngIf="especialistaForm.get('password')?.invalid && especialistaForm.get('password')?.touched"
            class="text-red-500 text-sm">Debe tener al menos 6 caracteres.</p>
        </div>

        <div>
          <label for="passwordRep" class="block text-sm font-medium">Repetir Contraseña</label>
          <input type="password" formControlName="passwordRep" class="mt-1 p-2 block w-full border border-gray-300 focus:ring-2 focus:ring-primary bg-gray-50"
            placeholder="**********">
          <p *ngIf="especialistaForm.get('passwordRep')?.touched" class="text-red-500 text-sm">
            {{getPasswordRep?.getError('noCoincide')}}</p>
        </div>

          <div class="me-4">

            <label for="especialidad" class="block text-sm font-medium">Especialidad/es</label>
            <select (change)="ver()" multiple formControlName="especialidad" class="mt-1 block w-full p-2.5 pt-[6px] bg-gray-50 border border-gray-300" name="especialidad" id="">
              <option value="" disabled>Seleccione uno o más</option>
              <option *ngFor="let esp of especialidades" [value]="esp.nombre">
                {{ esp.nombre }}
              </option>
            </select>
            <p *ngIf="especialistaForm.get('especialidad')?.invalid && especialistaForm.get('especialidad')?.touched"
              class="text-red-500 text-sm">Debe seleccionar una al menos.</p>
          </div>
          <div>
            <label for="otraEspecialidad" class="block text-sm font-medium">Nueva especialidad</label>
            <input type="text" id="otraEspecialidad" formControlName="otraEsp" class="mt-1  p-2 block w-full border border-gray-300 focus:ring-2 focus:ring-primary bg-gray-50"
            placeholder="Nombre de la especialidad">
            <p *ngIf="especialistaForm.get('otraEsp')?.invalid"
            class="text-red-500 text-sm">Debe ingresar solo letras.</p>
            <button [disabled]="!especialistaForm.get('otraEsp')?.value" (click)="agregarEspecialidad()" type="button" class="mt-2 focus:outline-none text-white bg-green-700 hover:bg-green-800 focus:ring-2 focus:ring-green-300 font-medium text-sm px-3 py-1 me-2 mb-2">Agregar</button>
            
          </div>
        

      </div>

      <div class="w-full flex justify-center">

        <button type="submit"
          class="w-2/5 tracking-wide text-center justify-center mt-6 text-white font-bold py-2 px-4 bg-gradient-to-r from-[#3CB0E1] via-[#3CB0E1] to-[#6078EA] hover:bg-gradient-to-br"
          [disabled]="especialistaForm.invalid" (click)="crearEspecialista()" [appCursor]="especialistaForm.invalid">
          Crear Cuenta
        </button>
      </div>
    </form>
  </div>

</div>


<div *ngIf="mostrarFormularioPaciente" class="mt-2 animate-fadeInFromBottom">
  <div class="max-w-4xl mx-auto bg-white shadow-md p-6">
    <form [formGroup]="pacienteForm">
      <h2 class="text-2xl text-center tracking-wide font-semibold mb-3 text-secondary font-noto ">Registro del Paciente</h2>

      <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
        <div>
          <label for="nombre" class="block text-sm font-medium">Nombre</label>
          <input type="text" formControlName="nombre" class="mt-1 p-2 block w-full border border-gray-300 focus:ring-2 focus:ring-primary bg-gray-50" placeholder="Nombre">
          <p *ngIf="pacienteForm.get('nombre')?.invalid && pacienteForm.get('nombre')?.touched"
            class="text-red-500 text-sm mt-1">Debe ingresar solo letras.</p>
        </div>

        <div>
          <label for="apellido" class="block text-sm font-medium">Apellido</label>
          <input type="text" formControlName="apellido" class="mt-1 p-2 block w-full border border-gray-300 focus:ring-2 focus:ring-primary bg-gray-50"
            placeholder="Apellido">
          <p *ngIf="pacienteForm.get('apellido')?.invalid && pacienteForm.get('apellido')?.touched"
            class="text-red-500 text-sm">Debe ingresar solo letras.</p>
        </div>

        <div>
          <label for="edad" class="block text-sm font-medium">Edad</label>
          <input type="number" formControlName="edad" class="mt-1 p-2 block w-full border border-gray-300 focus:ring-2 focus:ring-primary bg-gray-50" placeholder="Edad">
          <p *ngIf="pacienteForm.get('edad')?.invalid && pacienteForm.get('edad')?.touched"
            class="text-red-500 text-sm">La edad debe ser entre 1 a 99 años.</p>
        </div>

        <div>
          <label for="dni" class="block text-sm font-medium">DNI</label>
          <input type="text" formControlName="dni" class="mt-1 p-2 block w-full border border-gray-300 focus:ring-2 focus:ring-primary bg-gray-50" placeholder="12345678">
          <p *ngIf="pacienteForm.get('dni')?.invalid && pacienteForm.get('dni')?.touched" class="text-red-500 text-sm">
            Formato de DNI inválido.</p>
        </div>

        <div>
          <label for="email" class="block text-sm font-medium">Correo</label>
          <input type="email" formControlName="email" class="mt-1 p-2 block w-full border border-gray-300 focus:ring-2 focus:ring-primary bg-gray-50"
            placeholder="ejemplo@email.com">
          <p *ngIf="pacienteForm.get('email')?.invalid && pacienteForm.get('email')?.touched"
            class="text-red-500 text-sm">Formato de correo inválido.</p>
        </div>

        <div>
          <label for="obraSocial" class="block text-sm font-medium">Obra Social</label>
          <input type="text" formControlName="obraSocial" class="mt-1 p-2 block w-full border border-gray-300 focus:ring-2 focus:ring-primary bg-gray-50"
            placeholder="Swiss Medical">
          <p *ngIf="pacienteForm.get('obraSocial')?.invalid && pacienteForm.get('obraSocial')?.touched"
            class="text-red-500 text-sm">Debe ingresar solo letras.</p>
        </div>

        <div>
          <label for="password" class="block text-sm font-medium">Contraseña</label>
          <input type="password" formControlName="password" class="mt-1 p-2 block w-full border border-gray-300 focus:ring-2 focus:ring-primary bg-gray-50"
            placeholder="*********">
          <p *ngIf="pacienteForm.get('password')?.invalid && pacienteForm.get('password')?.touched"
            class="text-red-500 text-sm">Debe tener al menos 6 caracteres.</p>
        </div>

        <div>
          <label for="passwordRep" class="block text-sm font-medium">Repetir Contraseña</label>
          <input type="password" formControlName="passwordRep" class="mt-1 p-2 block w-full border border-gray-300 focus:ring-2 focus:ring-primary bg-gray-50"
            placeholder="*********">
          <p *ngIf="pacienteForm.get('passwordRep')?.touched" class="text-red-500 text-sm">
            {{getPasswordRep?.getError('noCoincide')}}</p>
        </div>

        <div>
          <label for="imagen1" class="block text-sm font-medium">Imagen de Perfil N°1</label>
          <input type="file" (change)="onFileSelected($event, 1)"  formControlName="imagen1" accept="image/*" class="mt-1 md:mt-3 block text-xs w-full focus:ring-2 focus:ring-primary border border-gray-300  bg-gray-50 "
            required>
          <p *ngIf="pacienteForm.get('imagen1')?.invalid && pacienteForm.get('imagen1')?.touched"
            class="text-red-500 text-xs">La imagen es requerida.</p>
        </div>

        <div>
          <label for="imagen2" class="block text-sm font-medium">Imagen de Perfil N°2</label>
          <input type="file" (change)="onFileSelected($event, 2)" formControlName="imagen2" accept="image/*" class="mt-1 md:mt-3 block w-full text-xs focus:ring-2 focus:ring-primary border border-gray-300  bg-gray-50"
            required>
          <p *ngIf="pacienteForm.get('imagen2')?.invalid && pacienteForm.get('imagen2')?.touched"
            class="text-red-500 text-xs">La imagen es requerida.</p>
        </div>
      </div>

      <div class="w-full flex justify-center">

        <button type="submit"
          class="w-2/5 tracking-wide text-center justify-center mt-6 text-white font-bold py-2 px-4 bg-gradient-to-r from-[#3CB0E1] via-[#3CB0E1] to-[#6078EA] hover:bg-gradient-to-br"
          [disabled]="pacienteForm.invalid" (click)="crearPaciente()" [appCursor]="pacienteForm.invalid" >
          Crear Cuenta
        </button>
      </div>
    </form>
  </div>

</div>



<ngx-spinner type="ball-clip-rotate-multiple" size="large"
color="#bee8f4">
  <p style="font-size: 20px; color: white;">Espere...</p>
</ngx-spinner>