<div class=" mt-2 max-w-4xl md:mx-auto bg-white shadow-md py-4 px-6 animate-fadeInFromBottom">
    <form [formGroup]="pacienteForm">
      <h2 class="text-2xl text-center tracking-wide font-semibold mb-3 text-secondary font-noto ">Registro del Paciente</h2>

      <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
        <div>
          <div class="relative">
            <input type="text" formControlName="nombre" id="nombre" class="mt-1 pb-2 block w-full border border-gray-300 focus:ring-2 focus:ring-primary bg-gray-50 peer" placeholder=" ">
            <label for="nombre" class="absolute text-sm text-gray-500  font-medium duration-300 transform -translate-y-4 scale-75 top-2 z-10 origin-[0]  bg-gray-50 px-2 peer-focus:px-2 peer-focus:text-secondary peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-4 start-1">Nombre</label>
          </div>
          <p *ngIf="pacienteForm.get('nombre')?.invalid && pacienteForm.get('nombre')?.touched"
            class="text-red-500 text-sm mt-1">Debe ingresar solo letras.</p>
        </div>

        <div>
          <div class="relative">
            <input type="text" formControlName="apellido" id="apellido" class="mt-1 p-2 block w-full border border-gray-300 focus:ring-2 focus:ring-primary bg-gray-50 peer"
            placeholder=" ">
            <label for="apellido" class="absolute text-sm text-gray-500  font-medium duration-300 transform -translate-y-4 scale-75 top-2 z-10 origin-[0]  bg-gray-50 px-2 peer-focus:px-2 peer-focus:text-secondary peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-4 start-1">Apellido</label>
           </div>
          <p *ngIf="pacienteForm.get('apellido')?.invalid && pacienteForm.get('apellido')?.touched"
            class="text-red-500 text-sm">Debe ingresar solo letras.</p>
        </div>

        <div>
          <div class="relative">
            <input type="number" formControlName="edad" id="edad" class="mt-1 p-2 block w-full border border-gray-300 focus:ring-2 focus:ring-primary bg-gray-50 peer" placeholder=" ">
            <label for="edad" class="absolute text-sm text-gray-500  font-medium duration-300 transform -translate-y-4 scale-75 top-2 z-10 origin-[0]  bg-gray-50 px-2 peer-focus:px-2 peer-focus:text-secondary peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-4 start-1">Edad</label>
          </div>
          <p *ngIf="pacienteForm.get('edad')?.invalid && pacienteForm.get('edad')?.touched"
            class="text-red-500 text-sm">La edad debe ser entre 16 a 99 años.</p>
        </div>

        <div>
          <div class="relative">
            <input type="text" formControlName="dni" id="dni" class="mt-1 p-2 block w-full border border-gray-300 focus:ring-2 focus:ring-primary bg-gray-50 peer" placeholder=" ">
            <label for="dni" class="absolute text-sm text-gray-500  font-medium duration-300 transform -translate-y-4 scale-75 top-2 z-10 origin-[0]  bg-gray-50 px-2 peer-focus:px-2 peer-focus:text-secondary peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-4 start-1">DNI</label>
          </div>
          <p *ngIf="pacienteForm.get('dni')?.invalid && pacienteForm.get('dni')?.touched" class="text-red-500 text-sm">
            Formato de DNI inválido.</p>
        </div>

        <div>
          <div class="relative">
            <input type="email" formControlName="email" id="email" class="mt-1 p-2 block w-full border border-gray-300 focus:ring-2 focus:ring-primary bg-gray-50 peer"
            placeholder=" ">
            <label for="email" class="absolute text-sm text-gray-500  font-medium duration-300 transform -translate-y-4 scale-75 top-2 z-10 origin-[0]  bg-gray-50 px-2 peer-focus:px-2 peer-focus:text-secondary peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-4 start-1">Correo electrónico</label>
          </div>
          <p *ngIf="pacienteForm.get('email')?.invalid && pacienteForm.get('email')?.touched"
            class="text-red-500 text-sm">Formato de correo inválido.</p>
        </div>

        <div>
          <div class="relative">
            <input type="text" formControlName="obraSocial" id="obraSocial" class="mt-1 p-2 block w-full border border-gray-300 focus:ring-2 focus:ring-primary bg-gray-50 peer"
            placeholder=" ">
            <label for="obraSocial" class="absolute text-sm text-gray-500  font-medium duration-300 transform -translate-y-4 scale-75 top-2 z-10 origin-[0]  bg-gray-50 px-2 peer-focus:px-2 peer-focus:text-secondary peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-4 start-1">Obra Social</label>
          </div>
          <p *ngIf="pacienteForm.get('obraSocial')?.invalid && pacienteForm.get('obraSocial')?.touched"
            class="text-red-500 text-sm">Debe ingresar solo letras.</p>
        </div>

        <div>
          <div class="relative">
            <input type="password" formControlName="password" id="password" class="mt-1 p-2 block w-full border border-gray-300 focus:ring-2 focus:ring-primary bg-gray-50 peer"
            placeholder=" ">
            <label for="password" class="absolute text-sm text-gray-500  font-medium duration-300 transform -translate-y-4 scale-75 top-2 z-10 origin-[0]  bg-gray-50 px-2 peer-focus:px-2 peer-focus:text-secondary peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-4 start-1">Contraseña</label>
          </div>
          <p *ngIf="pacienteForm.get('password')?.invalid && pacienteForm.get('password')?.touched"
            class="text-red-500 text-sm">Debe tener al menos 6 caracteres.</p>
        </div>

        <div>
          <div class="relative">
            <input type="password" formControlName="passwordRep" id="passwordRep" class="mt-1 p-2 block w-full border border-gray-300 focus:ring-2 focus:ring-primary bg-gray-50 peer"
            placeholder=" ">
            <label for="passwordRep" class="absolute text-sm text-gray-500  font-medium duration-300 transform -translate-y-4 scale-75 top-2 z-10 origin-[0]  bg-gray-50 px-2 peer-focus:px-2 peer-focus:text-secondary peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-4 start-1">Repetir Contraseña</label>
          </div>
          <p *ngIf="pacienteForm.get('passwordRep')?.touched" class="text-red-500 text-sm">
            {{getPasswordPacienteRep?.getError('noCoincide')}}</p>
        </div>

        <div>
          <label  class="block text-sm font-medium">Imagen de Perfil N°1</label>
          <input type="file" (change)="onFileSelected($event, 1)"  formControlName="imagen1" accept="image/*" class="mt-1 md:mt-3 block text-xs w-full focus:ring-2 focus:ring-primary border border-gray-300  bg-gray-50 "
            required>
          <p *ngIf="pacienteForm.get('imagen1')?.invalid && pacienteForm.get('imagen1')?.touched"
            class="text-red-500 text-xs">La imagen es requerida.</p>
        </div>

        <div>
          <label  class="block text-sm font-medium">Imagen de Perfil N°2</label>
          <input  type="file" (change)="onFileSelected($event, 2)" formControlName="imagen2" accept="image/*" class="mt-1 md:mt-3 block w-full text-xs focus:ring-2 focus:ring-primary border border-gray-300  bg-gray-50"
            required>
          <p *ngIf="pacienteForm.get('imagen2')?.invalid && pacienteForm.get('imagen2')?.touched"
            class="text-red-500 text-xs">La imagen es requerida.</p>
        </div>
      </div>



      <div class="w-full flex flex-col justify-center ">
        <div class="">

          <app-captcha (captchaVerificado)="captchaResp = $event"> </app-captcha>
          
        </div>

        <div class="flex w-full justify-center">

          <button type="submit"
            class="w-full md:w-2/5 tracking-wide text-center justify-center mt-0 text-white font-bold py-2 px-4 bg-gradient-to-r from-[#3CB0E1] via-[#3CB0E1] to-[#6078EA] hover:bg-gradient-to-br"
            [disabled]="pacienteForm.invalid || !captchaResp" (click)="crearPaciente()" [appCursor]="pacienteForm.invalid || !captchaResp" >
            Crear Cuenta
          </button>
        </div>
      </div>
    </form>
  </div>
