<div class="bg-transparent max-w-6xl mx-auto flex justify-center">
  <div class="container py-8 pt-4">
    <div class="grid grid-cols-4 md:grid-cols-12 gap-6 px-4">
      <div *ngIf="!loading" class="col-span-4 sm:col-span-3">
        <div class="bg-tertiary rounded">
          <div class="flex flex-col items-center">

            <div *ngIf="!loading" class="relative mt-8  mb-0 w-5/6 h-full overflow-hidden">
              <img [src]="usuarioInfo?.foto1" alt="Imagen 1" class="w-full h-full object-cover">

              <div
                class="absolute inset-0 bg-gray-800 bg-opacity-50 flex items-center justify-center opacity-0 hover:opacity-100 transition-opacity duration-300">
                <span class="text-white text-xl font-semibold">Foto N°1</span>
              </div>
            </div>

            <div *ngIf="!loading && !usuarioInfo?.foto2" class="mt-8">

            </div>

            <div *ngIf="!loading && usuarioInfo?.foto2" class="relative my-8 w-4/6 h-full overflow-hidden">
              <img [src]="usuarioInfo?.foto2" alt="Imagen 2" class="w-full h-full object-cover ">

              <div
                class="absolute inset-0 bg-gray-800 bg-opacity-50 flex items-center justify-center opacity-0 hover:opacity-100 transition-opacity duration-300">
                <span class="text-white text-xl font-semibold">Foto N°2</span>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-span-4 sm:col-span-9">
        <div *ngIf="!loading && this.usuarioInfo" class=" bg-white overflow-hidden shadow rounded-lg border">
          <div class="flex flex-row px-4 py-5 sm:px-6">
            <h3 class="text-lg leading-6 font-bold text-gray-900">
              Información del Usuario
            </h3>
            <p class="bg-secondary ml-auto	 text-sm text-primary w-min px-4 py-1 font-bold rounded">
              {{usuarioInfo?.perfil}}
            </p>
          </div>
          <div class="border-t border-gray-200 px-2 py-2 sm:p-0">
            <div class="sm:divide-y sm:divide-gray-200">

              <div class="py-2 text-center sm:text-justify items-center grid-cols-1 sm:py-5 sm:grid sm:grid-cols-4 sm:gap-4 sm:px-6">
                <div class="text-sm flex justify-center sm:justify-start	 font-medium text-gray-500">
                  <p class="bg-gray-300 w-max px-4 py-1 font-bold rounded">Nombre</p>
                </div>
                <div class="mt-1 mb-3 sm:mb-0 tracking-wider text-sm font-bold text-gray-900 sm:mt-0">
                  {{usuarioInfo?.nombre}}
                </div>
                <div class=" text-sm font-medium flex justify-center sm:justify-start	 text-gray-500">
                  <p class="bg-gray-300  w-max px-4 py-1 font-bold rounded">Apellido</p>
                </div>
                <div class="mt-1tracking-wider font-bold text-sm text-gray-900 sm:mt-0">
                  {{usuarioInfo?.apellido}}
                </div>

              </div>

              <div class="py-2 text-center sm:text-justify items-center grid-cols-1 sm:py-5 sm:grid sm:grid-cols-4 sm:gap-4 sm:px-6">
                <div class="text-sm flex justify-center sm:justify-start	 font-medium text-gray-500">
                  <p class="bg-gray-300 w-max px-4 py-1 font-bold rounded">D.N.I.</p>
                </div>
                <div class="mt-1 mb-3 sm:mb-0 tracking-wider text-sm font-bold text-gray-900 sm:mt-0">
                  {{usuarioInfo?.dni | dni}}
                </div>
                <div class=" text-sm flex justify-center sm:justify-start	 font-medium text-gray-500">
                  <p class="bg-gray-300  w-max px-4 py-1 font-bold rounded">Edad</p>
                </div>
                <div class="mt-1tracking-wider font-bold text-sm text-gray-900 sm:mt-0">
                  {{usuarioInfo?.edad | edad}}
                </div>

              </div>

              <div class="py-2 text-center sm:text-justify items-center grid-cols-1 sm:py-5 sm:grid sm:grid-cols-4 sm:gap-4 sm:px-6">

                <div class=" text-sm flex justify-center sm:justify-start	 font-medium text-gray-500">
                  <p class="bg-gray-300  w-max px-4 py-1 font-bold rounded">Correo</p>
                </div>
                <div class="mt-1 mb-3 sm:mb-0 sm:tracking-wider font-bold text-sm text-gray-900 sm:mt-0">
                  {{usuarioInfo?.email}}
                </div>


                <div *ngIf="usuarioInfo?.obraSocial" class="text-sm font-medium flex justify-center sm:justify-start	 text-gray-500">
                  <p class="bg-gray-300 w-max px-4 py-1 font-bold rounded">Obra Social</p>
                </div>
                <div *ngIf="usuarioInfo?.obraSocial"
                  class="mt-1 tracking-wider text-sm font-bold text-gray-900 sm:mt-0">
                  {{usuarioInfo?.obraSocial}}
                </div>
              </div>

            </div>
          </div>
        </div>
        
        <button (click)="mostrarHistoria()" *ngIf="esPaciente" type="button" class="mt-5 text-white bg-gradient-to-r from-purple-500 via-purple-600 to-purple-700 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-purple-300 dark:focus:ring-purple-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2">Ver mi Historia Clinica</button>

        <div *ngIf="!loading && this.usuarioInfo?.especialidades"
          class="col-span-4 mt-4 sm:col-span-9">
          <div class="bg-white shadow rounded-lg px-6 py-3">
            <h2 class="text-xl font-bold mb-4">Mis Horarios</h2>
            <div *ngIf="!loading" class="w-full mx-auto">
              <div class="bg-primary py-1.5 rounded">
                <div class="flex justify-center space-x-4">

                  <button *ngFor="let tab of especialidades"
                    class="px-4 py-1 text-secondary transition-all font-semibold border-b-2 border-white hover:bg-secondary hover:text-white focus:outline-none tab-button"
                    [ngClass]="{'active': activeTab === tab.id}" (click)="showTab(tab.id)">
                    {{tab.nombre}}
                  </button>

                </div>
              </div>
              <!-- ESPECIALIDAD CONTENIDO-->
              <div *ngFor="let especialidad of especialidades " class="px-4 py-2 tab-content bg-white shadow-md rounded-lg"
                [class.hidden]="activeTab !== especialidad.id">
                <div *ngIf="especialidad.horariosAtencion == null || especialidad.horariosAtencion.lenght == 0"
                  class="block w-full text-center">
                  No hay Horarios Asignados para esta especialidad
                </div>

                <div class="flex flex-col md:flex-row justify-evenly mb-2 items-center w-full">
                  <div *ngIf="hayDiasDisponibles(especialidad.nombre)" class="flex flex-col sm:flex-row justify-evenly mb-2 items-center w-full">

                    <select #diasSelect id="dias" [(ngModel)]="selectedDays[especialidad.nombre]" 
                      class="w-max bg-gray-50 w-full border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500  p-2.5">

                      <option value=" " disabled selected>Seleccione un día</option>
                      <option *ngFor="let dia of diasDisponiblesPorEspecialidad[especialidad.nombre]" [value]="dia">{{ dia }}</option>
                    </select>

                    <div class="w-full max-w-[5rem]">                        
                      <label for="start-time"
                        class="block mb-2 text-sm font-medium text-gray-900">Hora desde:</label>
                      <div class="relative">
                        <div class="absolute inset-y-0 end-0 top-0 flex items-center pe-3.5 pointer-events-none">
                          <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true"
                            xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24">
                            <path fill-rule="evenodd"
                              d="M2 12C2 6.477 6.477 2 12 2s10 4.477 10 10-4.477 10-10 10S2 17.523 2 12Zm11-4a1 1 0 1 0-2 0v4a1 1 0 0 0 .293.707l3 3a1 1 0 0 0 1.414-1.414L13 11.586V8Z"
                              clip-rule="evenodd" />
                          </svg>
                        </div>
                        <input [(ngModel)]="horaNuevaInicio" type="number" id="start-time" name="start-time"
                          class="bg-gray-50 border leading-none border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
                          required />
                      </div>
                    </div>

                    <div class="w-full max-w-[5rem]">
                      <label for="end-time"  class="block mb-2 text-sm font-medium text-gray-900">Hora hasta:</label>
                      <div class="relative">
                        <div class="absolute inset-y-0 end-0 top-0 flex items-center pe-3.5 pointer-events-none">
                          <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true"
                            xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24">
                            <path fill-rule="evenodd"
                              d="M2 12C2 6.477 6.477 2 12 2s10 4.477 10 10-4.477 10-10 10S2 17.523 2 12Zm11-4a1 1 0 1 0-2 0v4a1 1 0 0 0 .293.707l3 3a1 1 0 0 0 1.414-1.414L13 11.586V8Z"
                              clip-rule="evenodd" />
                          </svg>
                        </div>
                        <input [(ngModel)]="horaNuevaFin" type="number"  id="end-time" name="end-time"
                          class="bg-gray-50 border leading-none border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 "
                          required />
                      </div>
                    </div>


                    <button type="button" (click)="agregarDia(especialidad.nombre,horaNuevaInicio,horaNuevaFin)"
                      class="focus:outline-none text-white bg-green-700 hover:bg-green-800 focus:ring-2 focus:ring-green-300 rounded text-[15px] px-5 py-2">Agregar
                      Día</button>

                  </div>

                  <button type="button" (click)="guardarHorarios()"
                    class="focus:outline-none text-white bg-yellow-400 hover:bg-yellow-500 focus:ring-4 focus:ring-yellow-300 rounded text-[15px] px-5 py-2">Guardar
                    Cambios</button>

                </div>

                
              <!-- ESPECIALIDAD HORARIO-->

                <div *ngIf="especialidad?.horariosAtencion" class="grid grid-cols-1 md:grid-cols-2 gap-4">
                  <div *ngFor="let horario of especialidad?.horariosAtencion"
                    class="animate-fadeInFromBottom py-2 px-1 flex justify-center border rounded bg-gray-100"
                    [appHorarioSeleccionado]="horario.habilitado">

                    <div class="flex justify-start items-end">

                      <div class="flex px-2 py-5 w-max">
                        <!-- (change)="validarHorarios($event,horario,horario.rangoHorario.inicio,horario.rangoHorario.fin)" [(ngModel)]="horario.habilitado"-->
                        <input (change)="validarHorarios($event,especialidad, horario,horario.rangoHorario.inicio,horario.rangoHorario.fin)" [checked]="horario.habilitado" id="{{horario.dia}}" name="days" type="checkbox" value="{{horario.dia}}"
                          class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 ">
                        <label for="{{horario.dia}}" class="ms-1.5 text-sm font-medium text-gray-900">{{horario.dia}}</label>
                      </div>

                      <div class="w-full max-w-[5rem]">                        
                        <label for="start-time-{{horario.dia}}"
                          class="block mb-2 text-sm font-medium text-gray-900">Desde:</label>
                        <div class="relative">
                          <div class="absolute inset-y-0 end-0 top-0 flex items-center pe-3.5 pointer-events-none">
                            <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true"
                              xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24">
                              <path fill-rule="evenodd"
                                d="M2 12C2 6.477 6.477 2 12 2s10 4.477 10 10-4.477 10-10 10S2 17.523 2 12Zm11-4a1 1 0 1 0-2 0v4a1 1 0 0 0 .293.707l3 3a1 1 0 0 0 1.414-1.414L13 11.586V8Z"
                                clip-rule="evenodd" />
                            </svg>
                          </div>
                          <input disabled type="number" [(ngModel)]="horario.rangoHorario.inicio" id="start-time-{{horario.dia}}" name="start-time-{{horario.dia}}"
                            class="bg-gray-50 border leading-none border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
                            required />
                        </div>
                      </div>

                      <div class="w-full max-w-[5rem]">
                        <label for="end-time-{{horario.dia}}"  class="block mb-2 text-sm font-medium text-gray-900">Hasta:</label>
                        <div class="relative">
                          <div class="absolute inset-y-0 end-0 top-0 flex items-center pe-3.5 pointer-events-none">
                            <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true"
                              xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24">
                              <path fill-rule="evenodd"
                                d="M2 12C2 6.477 6.477 2 12 2s10 4.477 10 10-4.477 10-10 10S2 17.523 2 12Zm11-4a1 1 0 1 0-2 0v4a1 1 0 0 0 .293.707l3 3a1 1 0 0 0 1.414-1.414L13 11.586V8Z"
                                clip-rule="evenodd" />
                            </svg>
                          </div>
                          <input disabled type="number" [(ngModel)]="horario.rangoHorario.fin" id="end-time-{{horario.dia}}" name="end-time-{{horario.dia}}"
                            class="bg-gray-50 border leading-none border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 "
                            required />
                        </div>
                      </div>

                      <div>
                        <button type="button" (click)="eliminarDia(especialidad.nombre, horario.dia,horario.rangoHorario.inicio,horario.rangoHorario.fin)"
                          class="inline-flex items-center p-1.5 text-sm font-medium text-center text-gray-500 hover:text-gray-800 hover:bg-gray-200 dark:hover:bg-gray-600 rounded-lg focus:outline-none dark:text-gray-400 dark:hover:text-gray-100">
                          <svg class="w-5 h-5 text-red-500" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                            width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
                            <path fill-rule="evenodd"
                              d="M8.586 2.586A2 2 0 0 1 10 2h4a2 2 0 0 1 2 2v2h3a1 1 0 1 1 0 2v12a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V8a1 1 0 0 1 0-2h3V4a2 2 0 0 1 .586-1.414ZM10 6h4V4h-4v2Zm1 4a1 1 0 1 0-2 0v8a1 1 0 1 0 2 0v-8Zm4 0a1 1 0 1 0-2 0v8a1 1 0 1 0 2 0v-8Z"
                              clip-rule="evenodd" />
                          </svg>
                          <span class="sr-only">Delete</span>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="flex flex-row w-full mt-3 items-center justify-center">
                  <div class=" text-sm font-medium text-gray-500">
                    <p class="bg-gray-300  w-max px-4 py-1 font-bold rounded">Duracion del Turno (en min)</p>
                  </div>
                  <!-- <label for="" class="text-base me-5">Duracion del Turno</label> -->
                  <input [(ngModel)]="especialidad.duracionTurno" type="number" class="text-center bg-gray-50 w-max  border leading-none border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 p-2.5 ">
                </div>
              </div>
              <!-- ESPECIALIDADES TAB -->

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <ng-template #noHorarios>
    <p>No hay horarios asignados para esta especialidad.</p>
  </ng-template>


  <app-historia-clinica-turnos *ngIf="verHistoriaClinica" (cerrarModal)="verHistoriaClinica=false">

  </app-historia-clinica-turnos>