<div class="w-full flex flex-col justify-center items-center mt-3 md:mt-5">
  <h1 class="text-center w-full text-3xl text-secondary mb-3 font-bold font-noto">Cantidad de Turnos por Especialidad</h1>
  <button id="download-btn" type="button" (click)="downloadPDF()"
  class="text-white mb-3 mx-3 text-white bg-gradient-to-r from-red-400 via-red-500 to-red-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-red-300 font-medium rounded-lg text-sm md:text-lg px-5 py-2.5 text-center">
  <p class="cursor-pointer">Descargar PDF</p>
</button>
  <div  class="">
    <apx-chart #chart
      [series]="chartOptions.series"
      [chart]="chartOptions.chart"
      [labels]="chartOptions.labels"
      [responsive]="chartOptions.responsive"
      [legend]="chartOptions.legend"
    ></apx-chart>
  </div>
</div>