

<div *ngIf="!agregarUsuario" class="pt-3 pb-5 mx-1 md:mx-16">
    
    <div class="relative overflow-x-auto sm:rounded-lg">
        <div class="flex items-center pt-2 justify-center md:justify-between flex-wrap md:flex-row space-y-0 space-x-4 md:space-y-0 pb-4 bg-transparent dark:bg-gray-900">
            <div>
                <select (change)="filtrarLista($event)" id="countries" class="bg-gray-50 md:ms-10 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">
                    <option value="Todos" selected>Todos los usuarios</option>
                    <option value="Paciente">Pacientes</option>
                    <option value="Especialista">Especialistas</option>
                    <option value="Administrador">Administradores</option>
                  </select>
            </div>

            <div class="relative">
                <button type="button" class="flex items-center text-white bg-green-600 hover:bg-green-700 font-medium rounded-lg text-sm md:text-lg px-5 py-2.5 text-center md:me-2 md:mb-2"
                (click)="descargarExcel()">
                    <ng-icon name="tablerFileTypeXls" class="sm:me-2" size="22px"></ng-icon> 
                    <p class="cursor-pointer">Descargar Todo</p> 
                </button>
            </div>


            <div class="relative">
                <button type="button" class="flex items-center text-white bg-gradient-to-r from-green-400 via-green-500 to-green-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-green-300 dark:focus:ring-green-800 font-medium rounded-lg text-sm md:text-lg px-5 py-2.5 text-center md:me-2 md:mb-2"
                (click)="verOpciones()">
                    <ng-icon name="matAddBoxRound" class="sm:me-2" size="22px"></ng-icon> 
                    <p class="hidden md:mostrar-lg">Agregar Usuario</p> 
                </button>

            </div>
        </div>
        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6">
            <div *ngFor="let item of listaFiltrada" class="bg-neutral-100 rounded-lg shadow-lg p-4 flex flex-col items-center" 
            [appDescargarInfo] = "item">
              
              <div class="flex justify-center items-center mb-4">
                <img class="w-20 h-20 object-cover rounded" [src]="item.foto1" alt="Foto 1">
          
                <div *ngIf="item.foto2" class="ml-2">
                  <img class="w-20 h-20 object-cover rounded" [src]="item.foto2" alt="Foto 2">
                </div>
              </div>

              <div class="text-lg font-semibold mb-2">
                {{ item.nombre + " " + item.apellido }}
              </div>
          
              <div class="text-sm font-bold tracking-wide  mb-2" [appColorPerfil]="item.perfil">
                {{ item.perfil }}
              </div>

              <div class="text-sm text-black mb-2">
                {{ item.email}}
              </div>
          
              <div *ngIf="item.cuenta_habilitada !=null" class="flex justify-center w-full mt-auto ">
                <div class="w-max hover:scale-[1.17] transition-all">
                  <div class="relative cursor-pointer grid items-center px-2 py-1 md:px-4 md:py-3 font-sans text-[12px] font-bold uppercase rounded-md select-none whitespace-nowrap"
                    [appColorEstado]="item.cuenta_habilitada" (click)="cambiarEstado(item)">
                    <span>{{ item.cuenta_habilitada | estadoHabilitado }}</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          
        <!-- <table class="w-full text-sm text-left rtl:text-right text-gray-500">
            <thead class=" w-full text-sm text-secondary uppercase bg-primary">
                <tr>
                    <th scope="col" class="px-6 py-3 ">
                        Imagen
                    </th>
                    <th scope="col" class="px-6 py-3 ">
                        Nombre
                    </th>
                    <th scope="col" class="px-6 py-3 hidden md:mostrar-lg">
                        Correo
                    </th>
                    <th scope="col" class="px-6 py-3 hidden md:mostrar-lg">
                        Perfil
                    </th>
                    <th scope="col" class="px-6 py-3 ">
                        Estado
                    </th>
                </tr>
            </thead>
            <tbody>
            <tr class="bg-neutral-100	  border-b hover:bg-gray-50 " *ngFor="let item of listaFiltrada">
                <td scope="row" class="flex justify-center items-center px-6 py-4 text-gray-900 whitespace-nowrap dark:text-white">
                        <img class="w-16 h-16 object-cover rounded" [src]="item.foto1" alt="foto">

                        <div *ngIf="item.foto2" class="ms-2 md:ms-5">

                            <img  [src]="item.foto2" class=" w-16 h-16 object-cover rounded" alt="foto">
                        </div>
                    
                </td>
                <td class="px-6 py-4 text-base  font-semibold">
                    {{item.nombre + " " + item.apellido}}
                </td>
                <td class="px-6 py-4 hidden md:mostrar-lg">
                    {{item.email}}
                </td>
                <td class="px-6 py-4 font-bold tracking-wide hidden md:mostrar-lg" [appColorPerfil]="item.perfil" >
                    {{item.perfil}}
                </td>
                <td class="p-4 border-b border-blue-gray-50">
                    
                    <div class="w-max hover:scale-[1.17] transition-all" (click)="cambiarEstado(item)" *ngIf="item.cuenta_habilitada !=null">
                      <div 
                        class="relative cursor-pointer grid items-center px-2 py-1 md:px-4 md:py-3 font-sans text-[12px] font-bold  uppercase rounded-md select-none whitespace-nowrap"
                        [appColorEstado]="item.cuenta_habilitada"
                        >
                        <span   class="" >{{item.cuenta_habilitada  | estadoHabilitado}} </span>
                      </div>
                    </div>
                  </td>
            </tr>
                
            </tbody>
        </table> -->
    </div>
</div>

<div *ngIf="agregarUsuario && (!agregarAdmin && !agregarDoctor && !agregarPaciente)" class="animate-fadeInFromBottom">
    <div class="tabla flex items-center mx-auto px-4 py-3 grid gap-x-10 gap-y-4 grid-cols-1 sm:grid-cols-3">
  
        <div (click)="nuevoUsuario('Administrador')" class="relative !shadow-[0_10px_60px_-15px_#000] hover:scale-105 transition-all bg-cover bg-center h-40 md:h-96 rounded-lg overflow-hidden " style="background-image: url('/admin-foto.jpg')">
          <div class="absolute top-0 left-0 w-full bg-black bg-opacity-60 text-white py-2 px-4 text-center font-semibold">
           Administrador
          </div>
        </div>
        
        <div (click)="nuevoUsuario('Paciente')" class="relative !shadow-[0_10px_60px_-15px_#000] hover:scale-105 transition-all bg-cover bg-center h-40 md:h-96 rounded-lg overflow-hidden " style="background-image: url('/persona-enferma.png')">
          <div class="absolute top-0 left-0 w-full bg-black bg-opacity-60 text-white py-2 px-4 text-center font-semibold">
            Paciente
          </div>
        </div>
        
        <div (click)="nuevoUsuario('Especialista')" class="relative !shadow-[0_10px_60px_-15px_#000] hover:scale-105 transition-all bg-cover bg-center h-40 md:h-96 rounded-lg overflow-hidden" style="background-image: url('/doctores_foto.png')">
          <div class="absolute top-0 left-0 w-full bg-black bg-opacity-60 text-white py-2 px-4 text-center font-semibold">
            Especialista
          </div>
        </div>
      </div>
      
</div>


<div *ngIf="agregarUsuario && (agregarAdmin || agregarDoctor || agregarPaciente)">
    <div *ngIf="agregarAdmin">
        <app-form-admin></app-form-admin>
    </div>
    <div *ngIf="agregarDoctor">
        <app-form-especialista></app-form-especialista>
    </div>
    <div *ngIf="agregarPaciente">
        <app-form-paciente></app-form-paciente>
    </div>
</div>

<ngx-spinner type="ball-clip-rotate-multiple" size="large"
color="#bee8f4">
  <p style="font-size: 20px; color: white;">Espere...</p>
</ngx-spinner>
