<!-- <div class="pagina">

    <a class="flex flex-col items-center bg-white border border-gray-200 rounded-lg shadow md:flex-row md:max-w-xl hover:bg-gray-100">
        <img class="object-cover w-full rounded-t-lg h-96 md:h-auto md:w-48 md:rounded-none md:rounded-s-lg" src="/logo.png" alt="">
        <div class="flex flex-col justify-between p-4 leading-normal">
            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Noteworthy technology acquisitions 2021</h5>
            <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Here are the biggest enterprise technology acquisitions of 2021 so far, in reverse chronological order.</p>
        </div>
    </a>
</div> -->


<div class="pagina flex justify-center items-center ">
    <a  class="flex mt-3 sm:mt-5 mx-3 sm:mb-10 mb-3 md:mt-10 shadow-[0_10px_60px_-15px_#000]  bg-transparent border border-black rounded-[0px] ">
        
        <div class="flex flex-col  justify-center">
            
            <div class="flex flex-col mt-3 justify-center items-center sm:flex-row sm:justify-evenly md:flex-row md:justify-between  w-full leading-normal">
                <!-- <div class="foto m-2">
    
                </div> -->

                <img class="w-28 sm:w-52 h-auto mb-3 hover:scale-105 transition-all " src="/logo.png" alt="Bonnie image"/>



                <div class="flex flex-col text-center justify-center my-1">
    
                    <h5 class="mb-2 sm:me-4 text-3xl sm:text-6xl text-center font-extrabold tracking-tight text-[#006680]">Clínica Familiar</h5>
                    <p class="mb-3 font-normal text-2xl sm:text-4xl italic text-gray-700">Trabajo Práctico N°2</p>
                    <p class="mb-3 font-normal text-xl md:text-3xl italic text-gray-700">Laboratorio 4 - A342 </p>
                    <!-- <p class="mb-3 font-normal text-gray-200">Desarrolladora Full-Stack <br>23 años</p> -->
                </div>
            </div>
            <!-- <hr class="flex h-px px-4 justify-center  my-1 bg-black border-2 border-gray-700"> -->
            <div class="flex flex-col  justify-center items-center p-4 pt-0 leading-normal">
                <h5 class="mb-3 text-lg sm:text-2xl font-bold tracking-tight text-gray-700 ">☗ Bienvenid&#64; a nuestra clínica ☗</h5>
                <p class="mb-3 text-sm sm:text-base font-normal text-justify text-gray-600 dark:text-gray-400">
                    Aquí podras: <br> ◆ Sacar un turno con un especialista <br> ◆ Gestionar tus turnos <br> ◆ Como admin: visualizar informes <br> Y mucho más..</p>
                <p class="text-center md:text-xl text-gray-700 italic">Comienza ingresando a tu cuenta o creando una nueva ➙</p>
                <div class="flex items-center w-full h-auto mt-3 justify-center">
                    <button type="button" routerLink="/iniciar-sesion" class="hover:scale-105 transition-all  text-white bg-gradient-to-r from-[#9DDA47] via-[#72B835] to-[#449424] hover:bg-gradient-to-br focus:ring-2 focus:outline-none focus:ring-green-400  font-medium text-sm sm:text-lg w-full h-full px-5 py-2.5 text-center  mx-2">Ingresar</button>
                    <button type="button" routerLink="/registro" class="hover:scale-105 transition-all  text-white bg-gradient-to-r from-[#3CB0E1] via-[#3CB0E1] to-[#6078EA] hover:bg-gradient-to-br focus:ring-2 focus:outline-none focus:ring-teal-300  font-medium text-sm sm:text-lg px-5 w-full h-full py-2.5 text-center  mx-2">Nuevo usuario</button>

                </div>
            </div>
        </div>
    
    </a>
</div>