<div class="w-full flex justify-center mt-3 md:mt-5">
    <div class="w-[80vW] bg-white rounded ">
      <h1 class="text-secondary text-center text-2xl font-bold py-3">Logs del sistema</h1>
      <table id="pagination-table" class="px-5 " >
        <thead >
          <tr>
            <th>fecha</th>
            <th>foto</th>
            <th>correo</th>
            <th>nombre_completo</th>
            <th>perfil</th>
            

          </tr>
        </thead>
        <tbody >
           
        </tbody>
      </table>

    </div>
  </div>